:root, ::backdrop {
    --bg: #212121;
    --accent-bg: #292727;
    --text: #dadada;
    --text-light: #ababab;
    --accent: #ffb300;
    --code: #48ee50;
    --preformatted: #ccc;
    --disabled: #111;
}
a,a:visited {
    text-decoration: none;
}

header {
    background-color: #161616;
    font-family: monospace;    
}

main {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

p {
    text-indent: 1em;
}

.links-section {
    scale: 0.35;
    a:visited {
        color: inherit;
    }
}