:root {
	--main-color: #7E9CD8;
	--text-color: #C5C9C5;
	--links-colors: #252535;
}
body, html {
	background: #222222;
	color: var(--text-color);
	padding: 0;
}
main {
	opacity: 0;
	transition: opacity 1.5s ease-in-out;
}
header {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-family: "IBM Plex Mono", monospace;
	margin-top: 1em;
	text-align: center;
}
#about {
	background: #222222;
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 20px;
	z-index: top,
}
header > img {
	border: 3px solid var(--main-color);
	border-radius: 100%;
	box-shadow: var(--main-color) 0px 2px 30px 0px;
	height: 8em;
	width: 8em;
}
header > h1, h2 {
	color: var(--main-color);
	display: inline-block;
	font-size: 2.0em;
	font-weight: bold;
}
ul {
	align-items: center;
	display: flex column;
	list-style: none;
	margin: 0 auto;
	max-width: 480px;
	padding: 2em;
}
ul > li {
	background-color:#ddda;
	backdrop-filter: blur(10px);
	border-radius: 10em;
	box-shadow: var(--main-color) 0px 0px 8px 0px;
	margin: 1.4em 0;
	padding: 1em;
	text-align: center;
}
#link:hover {
	transform: scale(1.05);
}
ul > li > a {
	color: var(--links-colors);
	text-decoration: none;
}
